# Byte-compiled and cached Python files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
venv/
env/
.venv/

# Environment variables file
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Test coverage reports
htmlcov/
.coverage
*.cover
.cache
nosetests.xml
coverage.xml
*.lcov

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.installed.cfg
*.egg
*.wheel

# pipenv, poetry, virtualenv
pipenv.lock
poetry.lock

# PyInstaller
*.spec

# MyPy
.mypy_cache/
.dmypy.json

# Pytest
.pytest_cache/
